# Actividades con Dataset Titanic

# Actividad 1: Análisis de supervivencia

##Objetivo
Realizar un análisis básico sobre los pasajeros del Titanic, enfocándose en la supervivencia.
1. Hacemos un EDA para familiarizarnos con los datos y tratar duplicados y nulos
2. Filtrar los pasajeros que sobrevivieron.
3. Seleccionar las columnas 'sex', 'age' y 'fare' para los pasajeros que sobrevivieron.
4. Crear una nueva columna que indique la clase de pasajero (Pclass) como una categoría.

In [ ]:
# Importamos Librerias
import pandas as pd
import seaborn as sns

In [ ]:
# Importamos el Dataset Titanic desde Seaborn
df = sns.load_dataset('titanic')

In [ ]:
df.head()

# 1. EDA, tratamiento de duplicados y nulos

In [ ]:
# vemos si hay duplicados

In [ ]:
# Visualizamos los duplicados

In [ ]:
# Drop de duplicados

In [ ]:
# Vemos si hay nulos

In [ ]:
# Visualizamos los nulos

In [ ]:
# Visualizamos los nulos

In [ ]:
# Completamos los nulos con la media

In [ ]:
# O bien dejar que Pandas complete todas las columns numéricas de forma automática

## 2. Filtrar los pasajeros que sobrevivieron

In [ ]:
# Infor del df

In [ ]:
# Valores únicos

In [ ]:
# Filtramos los pasajeros que sobrevivieron

## 3. Seleccionar las columnas sex, age, fare de los que sobrevivieron

In [ ]:
# Seleccionamos las columnas solicitadas

## 4. Crear una nueva columna que indique la clase de pasajero (Pclass) como una categoría.

In [ ]:
# Veamos algo de dtype category

Tipo de dato category

In [ ]:
# Convertimos el tipo de dato con astype

In [ ]:
# Validamos

# Actividad 2: Manipulación de datos

## Objetivo
Practicar la manipulación de datos haciendo selecciones y transformaciones sobre el conjunto de datos de Titanic.
1. Obtener los nombres de las columnas del DataFrame.
2. Eliminar la columna 'deck'. (tener en cuenta que puede contener valores nulos y la función puede dar advertencias).
3. Reindexar el DataFrame después de eliminar la columna.

In [ ]:
# Listar las columnas

In [ ]:
# Eliminar la columna deck

In [ ]:
# Agregar una validación

In [ ]:
# Reindexar (solo tiene sentido a nivel de filas no de columnas)